@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Zinc-50 */
    --background: 0 0% 100%;
    /* Zinc-900 */
    --foreground: 240 10% 4%;

    /* Zinc-100 */
    --outer-background: 240 5% 96%;

    /* White */
    --card: 0 0% 100%;
    /* Zinc-900 */
    --card-foreground: 240 10% 4%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 4%;

    /* Violet-600 */
    --primary: 262 83% 58%;
    --primary-foreground: 0 0% 100%;

    /* Zinc-100 */
    --secondary: 240 5% 96%;
    /* Zinc-900 */
    --secondary-foreground: 240 10% 4%;

    /* Zinc-500 */
    --muted: 240 4% 46%;
    /* Zinc-400 */
    --muted-foreground: 240 5% 65%;

    /* Emerald-500 */
    --accent: 142 71% 45%;
    --accent-foreground: 0 0% 100%;

    /* Rose-500 */
    --destructive: 343 81% 54%;
    --destructive-foreground: 0 0% 100%;

    /* Zinc-200 */
    --border: 240 6% 90%;
    /* Zinc-100 */
    --input: 240 5% 96%;
    /* Violet-600 */
    --ring: 262 83% 58%;
  }

  .dark {
    /* Zinc-950 */
    --background: 240 10% 4%;
    /* Zinc-50 */
    --foreground: 0 0% 98%;

    /* Black */
    --outer-background: 0 0% 0%;

    /* Zinc-900 */
    --card: 240 10% 9%;
    /* Zinc-50 */
    --card-foreground: 0 0% 98%;

    --popover: 240 10% 9%;
    --popover-foreground: 0 0% 98%;

    /* Violet-500 */
    --primary: 263 70% 50%;
    --primary-foreground: 0 0% 100%;

    /* Zinc-800 */
    --secondary: 240 4% 16%;
    /* Zinc-50 */
    --secondary-foreground: 0 0% 98%;

    /* Zinc-400 */
    --muted: 240 5% 65%;
    /* Zinc-500 */
    --muted-foreground: 240 4% 46%;

    /* Emerald-500 */
    --accent: 142 71% 45%;
    --accent-foreground: 0 0% 100%;

    /* Rose-500 */
    --destructive: 343 81% 54%;
    --destructive-foreground: 0 0% 100%;

    /* Zinc-800 */
    --border: 240 4% 16%;
    /* Zinc-900 */
    --input: 240 10% 9%;
    /* Violet-600 */
    --ring: 262 83% 58%;
  }
}
